@model CLWebApp.Models.JiliaHubs

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>JiliaHubs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bid" class="control-label"></label>
                <input asp-for="Bid" class="form-control" />
                <span asp-validation-for="Bid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mac" class="control-label"></label>
                <input asp-for="Mac" class="form-control" />
                <span asp-validation-for="Mac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uid" class="control-label"></label>
                <input asp-for="Uid" class="form-control" />
                <span asp-validation-for="Uid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activation" class="control-label"></label>
                <input asp-for="Activation" class="form-control" />
                <span asp-validation-for="Activation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
