@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1701 Industrial Park Dr<br />
    Mobile, AL 36693<br />
    <abbr title="Phone">P:</abbr>
    251.607.9119
</address>

<address>
    <strong>Support:</strong> <a href="mailto:VictorMartint@Centralite.com">VictorMartin@Centralite.com</a><br />
</address>
